.class-card{
    width: 300px;
    aspect-ratio: 1/1;
    border: .0625rem solid #dadce0;
    border-radius: 10px;
    flex-shrink: 0;
    height: 300px; 
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.class-card:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.class-card--details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 20px;
    width: 100%;
    background-image: url(https://gstatic.com/classroom/themes/img_reachout.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; /* Enables positioning for pseudo-elements and content */
    color: white; /* Ensures text is readable over the gradient */
}

.class-card--details::after {
    content: '';
    position: absolute;
    background: linear-gradient(60deg, rgba(32, 33, 36, 0) 60%, rgba(32, 33, 36, 0.88));
    opacity: 0.88; /* Adjust for better gradient visibility */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; /* Places gradient above the background image but below content */
}
  
.details {
    position: relative; /* Places content above the gradient */
    z-index: 2; /* Ensures content appears above the gradient */
}
.details--name{
    font-size: 2.3rem;
    color: white;
    font-weight: 500;
}

.details--section{
    font-size: 1.8rem;
}

.details--ta{
    margin-top: 0.6rem;
    font-size: 1.4rem;
}

.class-card button{
    background: none;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.class-card--shortcuts{
    margin-top: auto;
    padding: 12px 16px;
    border-top: .0625rem solid #dadce0;
}
.class-card--shortcuts button{
    float: right;
}