.sidebar{
    max-width: 280px;
    height: calc(100vh - 67.5px);
    border-right: .0625rem solid rgb(218, 220, 224);
}

.sidebar-sec{
    padding: 8px 0px;
    border-bottom: .0625rem solid rgb(218, 220, 224);
}

.tab{
    position: relative;
    margin-right: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 25px;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
    cursor: pointer;
}

.tab:hover{
    background-color: #f0f0f0;
}

.tab:focus{
    background-color: rgb(232, 240, 254);
}

.tab .tab-head{
    font-size: 1.8rem;
    color: #5f6368;
}

.tab-acc-arrow{
    position: absolute;
    left: 0px;
    transition: all 0.3s ease;
}

.tab-acc-arrow.open{
    transform: rotate(90deg);
}

.class-origin{
    display:  flex;
    flex-direction: column;
}

.class-subject{
    margin: 0;
    color: #5f6368;
    font-size: 1.8rem;
}

.class-div{
    margin: 0;
    color: #5f6368ed;
    font-size: 1.5rem;
}

.class-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgb(118,39,187);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    line-height: 0;
}

